<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue crud</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        .box {
            display: inline-block;
            padding: 100px 0;
            width: 400px;
            text-align: center;
            background: #ddd;
            margin: 20px;
            display: inline-block;
        }
    </style>
</head>

<body>
    <h1>vue ref</h1>
    <!-- template -->
    <div id="app">
        <h4>POSTS</h4>
        <p>{{title}} - {{author}} - {{age}}</p>
        <button v-on:click="age++">Increase age</button>
        <button v-on:click="age--">Decrease age</button>
        <!-- //you can use @ inplace of v-on -->
        <!-- <div @click="title = 'something else' ">change book title</div> -->
        <div @click="changeTitle('Things Fall Apart')">change book title</div>
        <hr />
        <h4>conditional rendering v-if v-else</h4>
        <!-- v-if="true/false" -->
        <div v-if="showBooks">
            v-if <br>
            true == show <br>
            false == hide
        </div>
        <button v-if="showBooks" @click="toggleShowBooks"> show</button>
        <!-- <button v-if="!showBooks" @click="toggleShowBooks"> show</button> -->
        <button v-else @click="toggleShowBooks"> show</button>

        <div v-show="showBooks">
            v-show
        </div>
        <hr />
        <!-- mouse events -->
        <h4>mouse events</h4>
        <div class="box" @mouseover="handleEvent($event, 5)">
            <p>Mouseover</p>
            <i>open console for output</i>
        </div>
        <div class="box" @mouseleave="handleEvent">
            <p>Mouse Leave</p>
            <i>open console for output</i>
        </div>
        <div class="box" @dblclick="handleEvent">
            <p>Double click</p>
            <i>open console for output</i>
    </div>
    <div class="box" @mousemove="handleMousemove">Mouse pos X - {{x}} , pos Y - {{y}}</div>
    <hr>
    <h4>lists v-for</h4>

    <hr>
    <hr>
    <hr>
    </div>

    <script src="App.js"></script>
</body>

</html>